body {
  min-height: 75rem;
}

a {
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
}

.pointer {
  cursor: pointer !important;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.site-header a {
  color: grey;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.site-header a:hover {
  color: white;
}

.site-header a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateY(-50%) rotateY(0deg);
  width: 100px;
  height: 80%;
  background-image: url('../../../assets/arrow.ico');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: left 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.site-header a:hover::before {
  left: 100%;
  transform: translateY(-50%) rotateY(180deg);
}

.site-header a:active::before {
  left: -100%;
  transform: translateY(-50%) rotateY(-180deg);
  transition: left 0.2s ease-in-out, transform 0.2s ease-in-out;
}
