<nav class="site-header navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="nav-item nav-link py-2" routerLink="home">Home</a>
        <a class="nav-item nav-link py-2" routerLink="quiensoy">Quien Soy</a>
        <a class="nav-item nav-link py-2" *ngIf="!authService.isLoggedIn"
            routerLink="login">Login</a>

        <a class="nav-item nav-link py-2" *ngIf="!authService.isLoggedIn"
            routerLink="registrarse">Registrarse</a>

        <a class="pointer nav-item nav-link py-2" *ngIf="authService.isLoggedIn"
            (click)="authService.SignOut()">Desloguearse</a>
    </div>
</nav>