 html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
img {
	border: 0;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

.row:before,
.row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}
[class*="col-"],
.bgrid {
	float: left;
}
[class*="col-"] + [class*="col-"].end {
	float: right;
}
[class*="col-"] {
	padding: 0 20px;
}


 img.pull-right {
   margin: .9rem 0 0 2.4rem;
 }
 img.pull-left {
   margin: .9rem 2.4rem 0 0;
 }


 .section-intro {
   max-width: 700px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   margin-bottom: 3.6rem;
   position: relative;
 }
 .section-intro h1 {
   font-family: "poppins-semibold", serif;
   font-size: 3.6rem;
   line-height: 1.25;
   margin-bottom: 1.2rem;
 }

 .about-content h3 {
   font-family: "poppins-bold", sans-serif;
   font-size: 1.8rem;
   text-transform: uppercase;
   letter-spacing: .25rem;
 }
 .about-content .info-list {
   list-style: none;
   margin-left: 0;
 }
 .about-content .info-list li {
   padding: 0 0 1.5rem 0;
   margin-bottom: .6rem;
 }
 .about-content .info-list li strong {
   font-family: "poppins-bold", sans-serif;
   color: #313131;
   text-transform: uppercase;
   letter-spacing: .2rem;
   font-size: 1.5rem;
   line-height: 3rem;
 }
 .about-content .info-list li span {
   display: block;
   font-family: "poppins-regular", sans-serif;
   color: #888888;
   font-size: 1.5rem;
   line-height: 1;
 }
