  <!-- about section
   ================================================== -->
   <section id="about">  

    <div class="row section-intro">
        <div class="col-twelve">

            <h1>Hola! Me llamo Patricio.</h1>

            <div class="intro-info">

                <img src="../../../assets/profilepic.png" alt="Profile Picture">

                <p class="lead">Soy entusiasta, responsable y
                    trabajador, siempre buscando la
                    manera de mejorar en todos los
                    aspectos y aprender nuevas
                    herramientas. En la actualidad,
                    trabajo como Desarrollador de
                    Backend, formando parte de
                    varios proyectos y buscando
                    constantemente nuevos desafíos.</p>
            </div>   			

        </div>   		
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>
            <p>Soy de Buenos Aires, Argentina. Perfil de sistemas orientado al desarrollo Web Backend con el stack tecnologico de Microsoft, pero siempre buscando aprender nuevas herramientas para crecer profesionalmente en esta amplia industria. </p>

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Patricio Orce</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>Mayo 21, 2001</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Software Developer</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>patricioorce2001@gmail.com</span>
                </li>                
                <li>
                    <strong>Juego:</strong>

                    <p>El juego que elegí es el Snake. Es un juego clásico y simple en el que controlamos una serpiente que tiene que moverse por un tablero y comer comida para crecer. 
                    El objetivo es obtener la puntuación más alta sin chocar contra los bordes del tablero ni contra su propio cuerpo. Decidí desarrollar este juego 
                    porque siempre me gustó y pensé que sería un buen proyecto para practicar los conceptos de programación en TypeScript y Angular.</p>
                    <p>En términos generales, la lógica del juego es bastante intuitiva. Consiste en controlar una serpiente que se mueve por una cuadrícula. El objetivo, como ya mencioné anteriormente, es comer la mayor cantidad de alimentos posible sin chocar contra las paredes o contra su propio cuerpo.</p>
                    <p>El código está estructurado en torno al componente principal llamado <i>SnakeComponent</i>. Aca se encuentra la lógica del juego. Además, se utilizan eventos del teclado para controlar el movimiento de la serpiente y se actualiza la interfaz gráfica en cada ciclo del juego.</p>
                    <p>Una de las primeras cosas que se hace en el código es definir las configuraciones iniciales, como el tamaño de la cuadrícula y la dirección inicial de la serpiente. Esto se realiza mediante constantes y un objeto que mapea las teclas de flecha a las direcciones de movimiento.</p>
                    <p>El juego utiliza una cuadrícula representada por un array bidimensional. El método <i>generateGrid()</i> se encarga de generar esta cuadrícula y se utiliza para renderizar el tablero del juego. Cada celda puede contener diferentes valores, como la serpiente, la comida o un espacio vacío.</p>
                    <p>La serpiente se representa mediante la clase <i>Snake</i>. Al inicio del juego, se genera una serpiente inicial con una posición y un tamaño predeterminados. En cada ciclo del juego, la serpiente se mueve en la dirección actual y se verifica si ha comido la comida o si ha perdido al chocar consigo misma.</p>
                    <p>El control del juego se realiza mediante eventos del teclado. Cuando se presiona una tecla de flecha, se actualiza la dirección de la serpiente y se fuerza la actualización de su posición. Esto se maneja a través de los métodos <i>keyEvent()</i> y <i>changeDirection()</i>.</p>
                    <p>El ciclo del juego se ejecuta en intervalos regulares utilizando la función <i>cicle()</i>. En cada ciclo, se calcula la nueva posición de la serpiente, se verifica si ha comido la comida o ha perdido, y se actualiza la interfaz gráfica mediante el método <i>drawGrid()</i>.</p>
                    <p>Para iniciar el juego, se llama al método <i>start()</i>, que establece una suscripción al ciclo del juego utilizando la librería RxJS. Si el jugador pierde, se detiene la suscripción, se reinician las propiedades del juego y se genera una nueva serpiente inicial.</p>
                    <p>En resumen, el juego Snake que he desarrollado utiliza TypeScript y Angular. La lógica del juego se basa en mover una serpiente en una cuadrícula, comiendo alimentos y evitando chocar con las paredes y el propio cuerpo. El control se realiza mediante eventos del teclado y se actualiza la interfaz gráfica en cada ciclo del juego para reflejar los cambios en la posición de la serpiente y la comida.</p>
                </li>

            </ul> <!-- /info-list -->

        </div>

        

    </div>
</section> <!-- /process-->    

