  <!-- about section
   ================================================== -->
   <section id="about">  

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Hola! Me llamo Patricio.</h1>

            <div class="intro-info">

                <img src="../../../assets/profilepic.png" alt="Profile Picture">

                <p class="lead">Soy entusiasta, responsable y
                    trabajador, siempre buscando la
                    manera de mejorar en todos los
                    aspectos y aprender nuevas
                    herramientas. En la actualidad,
                    trabajo como Desarrollador de
                    Backend, formando parte de
                    varios proyectos y buscando
                    constantemente nuevos desafíos.</p>
            </div>   			

        </div>   		
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>
            <p>Soy de Buenos Aires, Argentina. Perfil de sistemas orientado al desarrollo Web Backend con el stack tecnologico de Microsoft, pero siempre buscando aprender nuevas herramientas para crecer profesionalmente en esta amplia industria. </p>

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Patricio Orce</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>Mayo 21, 2001</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Software Developer</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>patricioorce2001@gmail.com</span>
                </li>

            </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full">

            <h3>Skills</h3>
            <p>Conocimiento en varias tecnologias, pero aplicadas laboralmente las siguientes:</p>

             <ul class="skill-bars">
                 <li>
                     <div class="progress percent90"><span>90%</span></div>
                     <strong>C#/ASP.NET</strong>
                </li>
                <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong>MS SQL</strong>
                </li>
                <li>
                     <div class="progress percent40"><span>40%</span></div>
                     <strong>Golang</strong>
                 </li>
                 <li>
                    <div class="progress percent35"><span>35%</span></div>
                    <strong>KafkaMQ</strong>
                </li>
                <li>
                    <div class="progress percent30"><span>30%</span></div>
                    <strong>Elastic Search</strong>
                </li>
                <li>
                    <div class="progress percent20"><span>20%</span></div>
                    <strong>HTML/CSS/JS</strong>
                </li>
   
             </ul> <!-- /skill-bars -->		

        </div>

    </div>
</section> <!-- /process-->    

