<ng-container *ngIf="palabra">
    <div class="space-beteen ">
        <button (click)="reiniciarJuego()" class="btn btn-primary">Reiniciar juego</button>
        <button (click)="irAHome()" class="btn btn-primary">Volver al inicio</button>
    </div>
    <div class="row">
        <div class="col-12">
            <ng-container *ngIf="juegoTerminado">
                <h1> Juego Terminado </h1>
            </ng-container>
        </div>

        <div class="col-12">
            <h3>
                Puntuacion: <span class="text-primary">{{intentos * 5}}</span>
            </h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="d-flex">
                <h1 *ngFor="let letra of letrasPalabra()" class="mx-3"> 
                    <span *ngIf="letrasElegidas.includes(letra); else hidden"> {{letra}} </span>
                    <ng-template #hidden>
                        <span *ngIf="!juegoTerminado; else respuesta"> __ </span>
                    </ng-template>
                    <ng-template #respuesta>
                        <span class="text-success"> {{letra}} </span>
                    </ng-template>
                </h1>
            </div>
        </div>
        <div class="col-12 mt-4">
            <h3>Intentos: <span class="text-primary">{{intentos}}</span></h3>
            <span class="letra-elejida" [class.correcta]="estaEnLaPalabra(letra)" *ngFor="let letra of letrasElegidas">
                {{letra}}
            </span>
        </div>
        <div class="col-12 mt-5">
            <div class="char-container">
                <span [class.disabled]="letrasElegidas.includes(letra)"
                    class="char"
                    (click)="elegirLetra(letra)"
                    *ngFor="let letra of abecedario"
                >
                    {{letra}}
                </span>
            </div>
        </div>
    </div>

</ng-container>